$main_container_width : 95%;
$main_container_height : 93%;
$rama_color : #004050; // 1ba1e2

$debug : false;

.tile-side {
  display: inline-block;
  height: 100%;
  padding: 5px;
}

body .bg-image {
  background: url('../img/bg2.jpg');
  background-size: cover;
//  filter: blur(10px);
  position: absolute;
  left:0px;
  top:0px;
  width: 100%;
  height: 100%;
  z-index:0;
}

#container {
  z-index:2;
  display: block;
  position: absolute;
  width: $main_container_width;
  height: $main_container_height;
  margin-left: (100%-$main_container_width)/2;
  margin-top: (100%-$main_container_height)/4;



  .tile-container {
    display:inline-block;
    height: 100%;
    width: 100%;
    .left {
      @extend .tile-side;
      width: 25%;
      float: left;
      @if $debug == true {
        border: 1px solid black;
      }
    }
    .right {
      @extend .tile-side;
      width: 73%;
      height: 96%;
      margin-top: 0.5%;
      box-sizing: border-box;
      margin-left: 2%;
      float: right;
      text-align: right;
      padding:0;
      @if $debug == true {
        border: 1px solid black;
      }
    }

  }
}

#gallery {
  overflow: hidden;
  width: 100%;
  height: 100%;
//  border: 10px solid $rama_color;
//  background: $rama_color;
}

.gallery_text {
  opacity: 0;
  transition: 0.5s opacity linear;
}
.fotorama__active .gallery_text {
  color: black;
  background: rgba(255,255,255,0.7);
  display: block;
  right:0;
  max-width: 300px;
  padding: 5px;
  position: absolute;
  opacity: 1;
  transition: 0.5s opacity linear;
}

.linked{
  height: 48%;
  width: 100%;

  display: block;
  float: left;
  border-width: 10px;
  border-style: solid;
  background-size: cover;

  .title_text {
    float: right;
    display: inline-block;

    margin-right: 20px;
    margin-top: 5px;
    font-size: 32px;

    i {
      margin-left: 10px;
    }
  }
}

.game {
  border-color: orange;
  color: orange;
  background-image: url('../img/game.jpg');
}
.book {
  border-color: red;
  color: red;
  margin-top: 4%;
  background-image: url('../img/pen.jpg');
}

.fotorama__stage__shaft {
//  background: $rama_color;
}